*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

#main{
    height: 100vh;
    background: url(/images/image2.jpg) no-repeat center;
    background-size: cover;
}

#mainHeader{

    background-color: #ccc;
    padding: 10px;

}

#page{
    color: rgb(5, 49, 96);
    float: left;
    width: 15%;
    padding: 10px;
    text-align: center;
}

.menu{
    float: right;
    width: 60%;
}

.menu-items{
    float: left;
    margin-left: 8px;
    padding: 10px;
    background-color: aliceblue;
}
.clear{
    clear: both;
} 

div h2
{
  padding-top: 150px;
  text-align:center;
  color: rgb(5, 49, 96);

}
div h5
{
  padding-top: 10px;
  text-align:center;
  color:rgb(169, 155, 155); 
}
div h6
{
  padding-top: 10px;
  text-align:center;
  color:rgb(28, 26, 26); 
  /* background-color: blue; */
}
.card-body 
{
    width: 180px;
    height: 150px;
    padding-left: 20px;
    padding-right: 10px;
    /* border: 2px solid #ccc; */
    background-color: #fff;
    margin: 40px auto;
    text-align: left;
    float: left;
    /* padding: 20px 10px; */
  }
.card div h4{
    color: rgb(5, 49, 96);
    text-align: left;
    padding-top: 20px;
}

}
.card div div{
    padding-top: 10px;
    text-align: left;
}

.card{
    padding-left: 250px;
}

.card-body1{
    width: 180px;
    height: 150px;
    padding-left: 20px;
    padding-right: 10px;
    /* border: 2px solid #ccc; */
    background-color: #fff;
    margin: 40px auto;
    margin-left: 15px;
    text-align: left;
    float: left;
}
.card-body2{
    width: 180px;
    height: 150px;
    padding-left: 20px;
    padding-right: 10px;
    /* border: 2px solid #ccc; */
    background-color: #fff;
    margin: 40px auto;
    margin-left: 15px;
    text-align: left;
    float: left;
}
.card-body3{
    width: 180px;
    height: 150px;
    padding-left: 20px;
    padding-right: 10px;
    /* border: 2px solid #ccc; */
    background-color: #fff;
    margin: 40px auto;
    margin-left: 15px;
    text-align: left;
    float: left;
}

.card-body div{
    padding-top: 10px;
}
.card-body1 div{
    padding-top: 10px;
}
.card-body2 div{
    padding-top: 10px;
}
.card-body3 div{
    padding-top: 10px;
}
